<div>
    <div class="cardContainer">
        <h1 class="homeTitle">Productos</h1>
        <div class="cardProduct">
            {{#each products}}
                <ul class="cardItem">
                    <li><span>Title:</span> {{this.title}}</li>
                    <li><span>Description:</span> {{this.description}}</li>
                    <li><span>Code:</span> {{this.code}}</li>
                    <li><span>Price:</span> {{this.price}}</li>
                    <li><span>Status:</span> {{this.status}}</li>
                    <li><span>Stock:</span> {{this.stock}}</li>
                    <li><span>Category:</span> {{this.category}}</li>
                    <li><span>Id:</span> {{this.id}}</li>
                </ul>
            {{/each}}
        </div>
    </div>
</div>